.idea
api-server/**/gen/*
api-server/**/server_core/*
api-server/**/sandesh/*
csplibs/*
*.pyc
*.log
*.out
tools/*
.scripts
*.egg-info
.venv
api-server/tests/test_unit/gen/*
client/dist/*
api-server/.cache
junit-py27.xml
junit-coverage*
/**/htmlcov/**
.coverage
dist/*
build/*
.cache
.sconsign.dblite
